
//Todos los componenetes
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    user-select:none;
}
//Me gustaria declararme mi amor pero solo se declarar variables **LLORANDO**

$color-tokio:#CC1E10;
$color-letra:#fff;
$color-footer:rgba(0, 0, 0, 0.5);
p {
    font-family: 'Merriweather', serif;
}
h1 , h2 {
    font-family: 'Bebas Neue', sans-serif;
}


.header_index{
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.4rem 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        z-index: -1;
    }
    
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent) ;
        transition: .5s;
    }

    &:hover::after{
        left: 100%;
    }
    }



    .logo_index{
        width: 100px;
    }

    .navbar_index a{
        font-size: 2.5rem;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        margin-left: 2.5rem ;
        margin-left: 70px;
    }
    #check{
        display: none;
    }

    .icons_index{
        position: absolute;
        right: 5%;
        font-size: 2.8rem;
        color:#fff ;
        cursor:pointer;
        display: none;
    }

//mediasss


@media (max-width: 950px){
    .icons_index{
        display: inline-flex;
    }

    #check:checked~.icons_index #menu-icon{
        display:none ;
    }

    .icons_index #close-icon{
        display: none;
    }

    #check:checked~.icons_index #close-icon{
        display:block;

    }


    .navbar_index{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1) ;
        backdrop-filter: blur(50px) ;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar_index{
        height: 17.7rem;
    }

    .navbar_index a{
        display: block;
        font-size: 1.5rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity:0;
        transition: .3s ease;
    }

    #check:checked~.navbar_index a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i)) ;
    }


}






.titulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 150px;
    align-items: center;
    color: #fff;
    

    h1{
        font-size: 200px;
        -webkit-text-stroke: 2px #000;
        text-stroke: 2px #000;
    }

    input{
        padding: 10px 20px;
        font-size: 30px;
        border: none;
        background-color:$color-tokio;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        margin-bottom: 200px;

        &:hover{
            background-color:#B00000 ;
        }

        &:active{
            background-color:#FF6666;
        }
    }
}

.titulo__2{
    display: flex;
    justify-content: center;
    background: #000;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, .1) ;
    backdrop-filter: blur(50px) ;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;

    .titulo__2-item{
        align-self: center;
        color: #fff;
        font-size: 80px;
        padding: 15px;
        
    }
}

.cuerpo-index{
    background-image: url(../imagenes/background.jpeg);
    background-size:100%;
    background-attachment: fixed;
}



.viaje{

    overflow: hidden;

    
    & .card_index:nth-child(2n){
        float: right;
        
    }

    .card_index{
        width: 60%;
        height: 550px;
        border-radius: 20px;
        overflow: hidden;
        border: 2px solid #fff;
        position: relative;
        margin: 30px;

        &:hover .card__body{
            right: 0;

        }

        .card__imagen{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
    
        }
    
        .card__body{
            width: 100%;
            height: 100%;
            top: 0;
            right: -100%;
            position: absolute;
            background: #1c353b54;
            backdrop-filter: blur(10px);
            border-radius: 15px;
            color: #fff;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: 1.8s ;
        }
            .card__titulo{
                text-transform: uppercase;
                font-size: 100px;
                font-weight: 500;
            }

            .card__subtitulo{
                font-size: 80px;
                font-weight: 500;
            }

            .card__parrafo{
                font-size: 25px;
                line-height: 25px;
                margin: 40px 0;
                font-weight: 400;
                
            }
        }

    }



.footer__container{
    display: flex;
    align-content: center;
    flex-direction: column-reverse;
    bottom: 8px;
    text-align: center;
    background-color:$color-footer;
    opacity: 0.8;
    padding-top: 6px;
    margin-top: 40px;

    .footer__container-item{
        padding: 5px;
        color: rgba(199, 199, 199, 0.712);
    }

    .item__redes{
        padding: 15px 10px 0 10px;
        font-size: 25px;
    }
}

@media (max-width: 880px){

.titulo h1{
    font-size: 150px;
}

.cuerpo-index{
    background-attachment: fixed;
    background-size: 100%;
}

.viaje{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
    .card_index{
        width: 90%;

        .card__titulo{
            font-size: 50px;
        }

        .card__parrafo{
            font-size: 15px;
        }
    }
}



    .cuerpo-index{
        background-attachment: fixed;
    }
    .titulo{
        text-align: center;
    }

    }

//Galeria de imagenes 

.body-galeria{
    background-image: url(../imagenes/galeria/background.jpg);
    background-attachment: fixed;
}

.galeria__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
    padding: 30px;

    img{
        width: 300px;
        height: 200px;
        border-radius: 4px;
        transition:transform 0.3s ease-in-out;
        border: solid 1px #fff;
        
        &:hover{
            filter: opacity(0.9);
            transform: scale(1.1);
        }
    }
}

//Contacto css

.body-contacto{
    background-image: url(../imagenes/contacto/AnoNuevoChinoFaroles.jpg);
}

.form__container{
    width: 90%;
    height: 875px;
    background-color:rgba(0, 0, 0, 0.699);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    margin: 40px;
    border-radius: 5px;
    border: 2px solid #000;
    overflow: hidden;

    .form__logo{
        width: 150px;
        height: 150px;
    }

    .form__titulo{
        color: #fff;    
    }

    .informacion{
        align-self: flex-start;
        color: #fff;
        align-items: center;
        margin-left: 40px;
        overflow: hidden;
        
    }

    .informacion__iconos{
        padding: 20px 60px;

        i{
            margin: 20px;
        }
    }
}

.ubi{
    margin: 40px;
}

.informacion__form{
    display: flex;
    flex-direction: column;
    width: 60%;
    
    .form__imput{
        margin: 10px 0;
    }

    .mensaje{
        color: #fff;
    }

    .form__enviar{
        padding: 10px 20px;
        font-size: 30px;
        border: none;
        background-color: $color-tokio;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        align-self: center;

        &:hover{
            background-color:#B00000;
        }
        
        &:active{
            background-color: #FF6666;
        }
    }
}

//sobre nosotros codigo

.body-nosotros{
    /*
    background-image: linear-gradient(135deg,
    #e61919, #f15120, #f57600, #ffb01d, #ebcb3e,);
    animation:colorcitos 20s infinite;
    */
    background-color: rgba(0,0,0 , 0.5);
    background-image: url(../imagenes/nosotros/bodynosotros.jpg);
    
}

@keyframes colorcitos{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;        
    }
    100%{
        background-position: 0% 50%;
    }
}

.pasion__container{
    background: rgba(0, 0, 0, .1) ;
    backdrop-filter: blur(50px) ;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: 2em 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;

    .container__titulo{
        align-self: center;
        color: #fff;
        font-size: 80px;        
    }

    .container__imagen{
        object-fit: contain;
        margin: 20px;
        align-self: center;
        border-radius: 5px;
        border: 1px solid #fff;
    }
}

.mision__container{
    display: flex;
    background: rgba(0, 0, 0, .1) ;
    backdrop-filter: blur(50px) ;
    border-radius: 5px;
    border: 1px solid #fff;
    flex-direction: row-reverse;
    width: 80%;
    margin: 1.5em 2em;
    justify-content: space-around;
    
    .mision__titulo{
        color: #fff;
        font-size: 90px;
        align-self: center;
       padding: 0.5em 0.5em;
       text-align: center;
    }
    .mision__parrafo{
        align-self: center;
        line-height: 1.5;
        font-size: 1.5em;
        padding: 30px;
        color: #fff;
    }
}

.mision__ceo__firma{
    display: flex;
    background: rgba(0, 0, 0, .1) ;
    backdrop-filter: blur(50px) ;
    border-radius: 5px;
    border: 1px solid #fff;
    flex-direction: row;
    margin-left: 10%;
    width: 88%;
    justify-content: space-around;
    overflow: hidden;
    
    
    .mision__ceo{
        margin: 1em;  
        padding: 20px;
        width: 35%;
        height: 70%;
        width: 100%;
    }

    .mision__ceo__texto{
        align-self: center;
        text-align: center;
        font-size: 45px;
        padding-right: 40px;
        color: #fff;
    }
}

.historia__container{
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .1) ;
    backdrop-filter: blur(50px) ;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-top: 2em;

    .historia__titulo{
        align-self: center;
        font-size: 5em;
        padding-top: 0.5em;
        color: #fff;
    }

    .historia__texto{
        align-self: center;
        font-size: 1.5em;
        line-height: 1.5;
        padding: 1.3em 2.5em;
        color: #fff;
    }

    .historia__video{
        align-self: center;
        padding: 20px;
        object-fit: contain;
    }
}
.frase {
    background: rgba(0, 0, 0, .1) ;
    backdrop-filter: blur(50px) ;
   

    .frase__texto{
        margin: 0.8em;
        text-align: center;
        color: #ffffff;
        font-size: 60px;
        display: flex;
        justify-content: center;
        padding: 0.8em;
    }

}


@media (max-width: 800px){
    
    
    .pasion__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        .container__titulo{
            font-size: 60px;
        }

        .container__imagen{
            margin: 0;
            width: 100%;
            
        }
        
    }

    .mision__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        width: 100%;
        overflow: hidden;

        .mision__parrafo{
            font-size: 20px;
        }
        
        
    }
    .mision__ceo__firma{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 15px;
        width: 100%;
        margin:15px 0 0 0;
        overflow: hidden;
        
    }
    .historia__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        .historia__texto{
            font-size: 20px;
        }
        
        .historia__video{
            width: 100%;
        }
    }
    .frase__texto{
        display: flex;
        font-size: 20px;
        justify-content: center;
        overflow: hidden;
    }

}