* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

li {
  padding: 20px 135px;
  font-size: 30px;
}

.titulo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 200px;
  align-items: center;
  color: #fff;
}
.titulo h1 {
  font-size: 150px;
  -webkit-text-stroke: 2px #000;
  text-stroke: 2px #000;
}
.titulo input {
  padding: 10px 20px;
  font-size: 30px;
  border: none;
  background-color: #CC1E10;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.titulo input:hover {
  background-color: #B00000;
}
.titulo input:active {
  background-color: #FF6666;
}

.cuerpo-index {
  background-image: url(../imagenes/background.jpeg);
  background-size: 100%;
  background-attachment: fixed;
}

.viaje__container {
  display: flex;
  flex-direction: column;
  margin-top: 300px;
}
.viaje__container .viaje__container-item {
  background-color: rgba(160, 160, 160, 0.4);
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  width: 50%;
  border: 1px solid black;
}
.viaje__container .item__parrafo {
  color: #fff;
  font-size: 25px;
}
.viaje__container .item__titulo {
  font-size: 90px;
  color: #fff;
  text-align: center;
}
.viaje__container .item__imagen {
  width: 100%;
  display: block;
}
.viaje__container .derecha {
  align-self: flex-end;
}

.footer__container {
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  bottom: 8px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  padding-top: 6px;
  margin-top: 40px;
}
.footer__container .footer__container-item {
  padding: 5px;
  color: rgba(199, 199, 199, 0.712);
}
.footer__container .item__redes {
  padding: 15px 10px 0 10px;
  font-size: 25px;
}

@media (max-width: 800px) {
  .viaje__container-item {
    width: 95%;
    overflow: hidden;
  }
  .titulo {
    text-align: center;
  }
}
.body-galeria {
  background-image: url(../imagenes/galeria/background.jpg);
  background-attachment: fixed;
}

.galeria__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 30px;
}
.galeria__container img {
  width: 300px;
  height: 200px;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  border: solid 1px #fff;
}
.galeria__container img:hover {
  filter: opacity(0.9);
  transform: scale(1.1);
}

.body-contacto {
  background-image: url(../imagenes/contacto/AnoNuevoChinoFaroles.jpg);
}

.form__container {
  width: 96%;
  height: 875px;
  background-color: rgba(0, 0, 0, 0.699);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  margin: 40px;
  border-radius: 5px;
  border: 2px solid #000;
}
.form__container .form__logo {
  width: 150px;
  height: 150px;
}
.form__container .form__titulo {
  color: #fff;
}
.form__container .informacion {
  align-self: flex-start;
  color: #fff;
  padding-left: 70px;
  align-items: center;
}
.form__container .informacion__iconos {
  padding: 20px 60px;
}
.form__container .informacion__iconos i {
  margin: 20px;
}

.ubi {
  margin: 40px;
}

.informacion__form {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.informacion__form .form__imput {
  margin: 10px 0;
}
.informacion__form .mensaje {
  color: #fff;
}
.informacion__form .form__enviar {
  padding: 10px 20px;
  font-size: 30px;
  border: none;
  background-color: #CC1E10;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  align-self: center;
}
.informacion__form .form__enviar:hover {
  background-color: #B00000;
}
.informacion__form .form__enviar:active {
  background-color: #FF6666;
}

.body-nosotros {
  background-image: linear-gradient(135deg, #666666, #8c8c8c, #a7a7a7, #bdbdbd, #c9c9c9, #d3d3d3, #dcdcdc);
  background-size: 500%;
  animation: colorcitos 8s infinite;
}

@keyframes colorcitos {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.pasion__container {
  background-color: rgba(160, 160, 160, 0.4);
  border-radius: 5px;
  border: 1px solid #000;
  margin: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pasion__container .container__titulo {
  align-self: center;
  color: #fff;
  font-size: 80px;
}
.pasion__container container__imagen {
  -o-object-fit: contain;
     object-fit: contain;
  padding: 20px;
  align-self: center;
}

.mision__container {
  display: flex;
  background-color: rgba(160, 160, 160, 0.4);
  border-radius: 5px;
  border: 1px solid #000;
  flex-direction: row-reverse;
  margin: 60px;
  justify-content: space-around;
}
.mision__container .mision__titulo {
  color: #fff;
  font-size: 80px;
  align-self: center;
  padding-right: 50px;
}
.mision__container .mision__parrafo {
  align-self: center;
  font-size: 30px;
  padding-left: 35px;
  padding-right: 35px;
  color: #fff;
}

.mision__ceo__firma {
  display: flex;
  background-color: rgba(160, 160, 160, 0.4);
  border-radius: 5px;
  border: 1px solid #000;
  flex-direction: row;
  margin: 60px;
  justify-content: space-around;
}
.mision__ceo__firma .mision__ceo {
  padding: 20px;
}
.mision__ceo__firma .mision__ceo__texto {
  align-self: center;
  font-size: 50px;
  padding-right: 40px;
  color: #fff;
}

.historia__container {
  display: flex;
  flex-direction: column;
  background-color: rgba(160, 160, 160, 0.4);
  border-radius: 5px;
  border: 1px solid #000;
  margin: 60px;
}
.historia__container .historia__titulo {
  align-self: center;
  font-size: 80px;
  color: #fff;
}
.historia__container .historia__texto {
  align-self: center;
  font-size: 35px;
  color: #fff;
}
.historia__container .historia__video {
  align-self: center;
  padding: 20px;
}

.frase__texto {
  color: #fff;
  font-size: 70px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .pasion__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  .mision__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  .mision__ceo__firma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  .historia__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  .frase__texto {
    display: flex;
    font-size: 40px;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */